<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 1. 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- 2. 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
    <!-- 3. 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>数据分析</title>
    <style>
        body,
        html,
        #app {
            margin: 0 0;
            height: 100%;
        }

        .el-container {
            margin: 0 auto;
            height: 100%;
            width: 100%;
        }

        .el-header,
        .el-footer {
            margin: 0 auto;
            width: 100%;

            text-align: center;
        }

        .el-main {
            margin: 0 auto;
            width: 100%;
            padding: 2px 2px;
        }

        .block {
            margin: auto auto;
            width: 60%;
            height: 93%;
            padding: 20px 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.08);
        }

        .el-row {
            margin-bottom: 20px;
        }

        .el-form-item {
            margin-bottom: 0px;
        }

        .el-form-item__content {
            display: flex;
        }

        .el-input {
            width: auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header style="background-color: rgba(0, 204, 255, 0.15);">
                <h1>数据分析和预测</h1>
            </el-header>
            <el-main>
                <!-- 0.欢迎界面 -->
                <div class="block" v-if="visibleStep[0].visible" style="border-radius:0;box-shadow:0 0 0 ">
                    <el-row type="flex" justify="center">
                        welcome
                    </el-row>
                    <el-row type="flex" justify="center">
                        <el-button type="primary" round v-on:click="turnToNextStep(0)">开始</el-button>
                    </el-row>
                </div>
                <!-- 0.欢迎界面end -->
                <!-- 1.训练数据上传 -->
                <div class="block" v-if="visibleStep[1].visible">
                    <el-container>
                        <el-header>
                            1、上传训练数据集并预处理
                        </el-header>


                        <el-main>

                            <el-col :span="20">
                                <el-row type="flex" justify="center">
                                    <el-form :rules="rules" :model="preFileForm" ref="preFileForm" label-width="150px">
                                        <el-form-item label="" prop="file">
                                            <el-upload class="upload-demo" drag accept=".csv" action="" ref="prevUpload"
                                                :before-upload="beforeUpload" name="preproc.csv" :on-remove="preRemove"
                                                :limit="1" :on-change="handlePreChange" :auto-upload="false">
                                                <i class="el-icon-upload" style="font-size: 45px;">预处理数据</i>
                                                <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                                            </el-upload>
                                        </el-form-item>
                                    </el-form>
                                </el-row>
                            </el-col>
                            <el-col :span="26">
                                <div>
                                    <el-form ref="preprocForm" :model="preprocForm">
                                        <el-row :gutter="2">
                                            <el-col :span="12">
                                            </el-col>
                                            <el-col :span="12">
                                                <el-form-item label="sifting method">
                                                    <el-select v-model="preprocForm.sifting.method" @change="siftChange"
                                                        clearable>
                                                        <el-option v-for="item in sifting" :key="item.value"
                                                            :label="item.label" :value="item.value">
                                                            <el-popover placement="left-start" :title="item.label"
                                                                width="350" trigger="hover" :content="item.description">
                                                                <p> {{item.description}} </p>
                                                                <img :src="item.image" width="300" />
                                                                <el-button slot="reference" type="text"
                                                                    style="width:100%;color:black;">
                                                                    <span>{{item.label}}</span>
                                                                </el-button>
                                                            </el-popover>
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="12">
                                                <el-form-item label="th(输入浮点数)">
                                                    <el-input v-model="preprocForm.sifting.th">
                                                    </el-input>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row :gutter="2">
                                            <el-col :span="11">
                                                <el-form-item label="运算列">
                                                    <el-select v-model="preprocForm.data_columns" collapse-tags multiple
                                                        placeholder="选择参与运算的数据" @change="opChange">
                                                        <el-option v-for="(col,index) in options_col" :key="index"
                                                            :label="col" :value="index">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="11">
                                                <el-form-item label="预测列">
                                                    <el-select v-model="preprocForm.pred_column"
                                                        :disabled="pred_column_dis">
                                                        <el-option v-for="(col,index) in options_pred" :key="index"
                                                            :label="col" :value="index">
                                                        </el-option>
                                                    </el-select>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-form-item v-for="(col,index) in preprocForm.data_columns"
                                                :label="options_col[col]" :key="col">
                                                <el-row :gutter="2">
                                                    <el-col :span="11">
                                                        <el-select v-model="preprocForm.dir_p_n[col][0]" clearable
                                                            @change="$forceUpdate()" placeholder="padding">
                                                            <el-option v-for="item in padding" :key="item.value"
                                                                :label="item.label" :value="item.value">
                                                                <el-popover placement="left-start" :title="item.label"
                                                                    width="350" trigger="hover"
                                                                    :content="item.description">
                                                                    <p> {{item.description}} </p>
                                                                    <img :src="item.image" width="300" />
                                                                    <el-button slot="reference" type="text"
                                                                        style="width:100%;color:black;">
                                                                        <span>{{item.label}}</span>
                                                                    </el-button>
                                                                </el-popover>
                                                            </el-option>
                                                        </el-select>
                                                    </el-col>
                                                    <el-col :span="11">
                                                        <el-select v-model="preprocForm.dir_p_n[col][1]" clearable
                                                            @change="$forceUpdate()" placeholder="norm">
                                                            <el-option v-for="item in norm" :key="item.value"
                                                                :label="item.label" :value="item.value">
                                                                <el-popover placement="left-start" :title="item.label"
                                                                    width="350" trigger="hover"
                                                                    :content="item.description">
                                                                    <p> {{item.description}} </p>
                                                                    <img :src="item.image" width="300" />
                                                                    <el-button slot="reference" type="text"
                                                                        style="width:100%;color:black;">
                                                                        <span>{{item.label}}</span>
                                                                    </el-button>
                                                                </el-popover>
                                                            </el-option>
                                                        </el-select>
                                                    </el-col>
                                                </el-row>
                                            </el-form-item>
                                        </el-row>
                                    </el-form>
                                </div>
                            </el-col>
                        </el-main>


                        <el-footer>
                            <el-row type="flex" justify="center">
                                <el-button type="primary" round v-on:click="turnToPrevStep(1)">上一步</el-button>
                                <el-button type="primary" round v-on:click="uploadPreForm">进行预处理并下载</el-button>
                                <el-button type="primary" round
                                    v-on:click="clearPreCols();turnToNextStep(1);algorithm_get();">下一步</el-button>
                            </el-row>
                        </el-footer>


                    </el-container>
                </div>
                <!-- 1.训练数据上传end -->
                <!-- 2.算法选择 -->
                <div class="block" v-if="visibleStep[2].visible">
                    <el-container>
                        <el-header>
                            2、选择训练算法
                        </el-header>
                        <el-main>
                            <el-col :span="12">
                                <el-form ref="algorithmForm" :model="algorithmForm" label-width="110px">
                                    <el-form-item label="训练算法">
                                        <el-select v-model="algorithmForm.algorithm" placeholder="请选择"
                                            @change="resetAlForm">
                                            <el-option v-for="item in options_alg" :key="item.value" :label="item.label"
                                                :value="item.value">
                                            </el-option>
                                        </el-select>
                                    </el-form-item>
                                    <div v-if="algorithmForm.algorithm == 'linearRegression'">
                                        <el-form-item label="损失函数">
                                            <el-select v-model="algorithmForm.loss">
                                                <el-option v-for="item in loss" :key="item" :label="item" :value="item">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="最大迭代次数">
                                            <el-input v-model="algorithmForm.max_iter_li">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="停止的误差标准">
                                            <el-input v-model="algorithmForm.tol">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="是否打乱次序">
                                            <div><!-- 用个div将Switch撑起来-->
                                                <el-switch v-model="algorithmForm.shuffle" active-text="是"
                                                    inactive-text="否">
                                                </el-switch>
                                            </div>
                                        </el-form-item>
                                    </div>
                                    <div v-if="algorithmForm.algorithm == 'decisionTreeClassifier'">
                                        <el-form-item label="分裂选择评估">
                                            <el-select v-model="algorithmForm.criterion">
                                                <el-option v-for="item in criterion" :key="item" :label="item"
                                                    :value="item">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="最大深度">
                                            <el-input v-model="algorithmForm.max_depth">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="最大叶节点数量">
                                            <el-input v-model="algorithmForm.max_leaf_nodes">
                                            </el-input>
                                        </el-form-item>
                                    </div>
                                    <div v-if="algorithmForm.algorithm == 'SVMClassifier'">
                                        <el-form-item label="核函数">
                                            <el-select v-model="algorithmForm.kernel">
                                                <el-option v-for="item in kernel" :key="item" :label="item"
                                                    :value="item">
                                                </el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="正则化参数">
                                            <el-input v-model="algorithmForm.C">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="最大迭代次数">
                                            <el-input v-model="algorithmForm.max_iter_svm">
                                            </el-input>
                                        </el-form-item>
                                        <el-form-item label="停止的误差标准">
                                            <el-input v-model="algorithmForm.tol">
                                            </el-input>
                                        </el-form-item>

                                    </div>
                                    <div v-if="algorithmForm.algorithm != ''">
                                        <el-row></el-row>
                                        <el-row type="flex" justify="center">
                                            <el-button type="primary" round v-on:click="resetAlForm">重置为默认值</el-button>
                                        </el-row>
                                    </div>

                                </el-form>
                            </el-col>
                            <el-col :span="12">
                                <el-row type="flex" justify="center">
                                    <el-upload class="upload-demo" drag action="" ref="uploadTrain" accept=".csv"
                                        :auto-upload="false" :before-upload="beforeUpload" name="train.csv"
                                        :on-remove="clearPreCols" :on-success="handleUploadTrainSuccess" :limit="1"
                                        :on-change="handleTrainChange">
                                        <i class="el-icon-upload" style="font-size: 45px;">训练数据</i>
                                        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                                    </el-upload>
                                </el-row>
                                <el-row type="flex" justify="center">
                                    <el-upload class="upload-demo" drag action="" ref="uploadTest" accept=".csv"
                                        :auto-upload="false" :before-upload="beforeUpload" name="test.csv"
                                        :on-remove="clearPreCols" :on-success="handleUploadTestSuccess" :limit="1"
                                        :on-change="handleTestChange">
                                        <i class="el-icon-upload" style="font-size: 45px;">测试数据</i>
                                        <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                                    </el-upload>
                                </el-row>
                            </el-col>

                        </el-main>
                        <el-footer>
                            <el-row type="flex" justify="center">
                                <el-button type="primary" round v-on:click="turnToPrevStep(2)">上一步</el-button>
                                <el-button type="primary" round
                                    v-on:click="turnToNextStep(2);wait_train()">开始训练</el-button>
                            </el-row>
                        </el-footer>
                    </el-container>
                </div>
                <!-- 2.算法选择end -->
                <!-- 3.输出模型-->
                <div class="block" v-if="visibleStep[3].visible">
                    <el-row>3、获得分析模型</el-row>
                    <el-row type="flex" justify="center">
                        <el-button type="primary" round v-on:click="downloadModel">点击下载模型文件</el-button>
                        <el-button v-if="V_downEncoder" type="primary" round
                            v-on:click="downloadEncoder">点击下载编码文件</el-button>
                        <el-button type="primary" round v-on:click="turnToNextStep(3)">以此模型进行数据预测</el-button>
                    </el-row>
                    <el-row type="flex" justify="center">
                        <el-button type="primary" round v-on:click="turnToPrevStep(3)">上一步</el-button>
                        <el-button type="danger" round v-on:click="turnToStep0(3)">首页</el-button>
                    </el-row>
                </div>
                <!-- 3.输出模型end-->
                <!-- 4.上传预测文件-->
                <div class="block" v-if="visibleStep[4].visible">
                    <el-row>4、上传预测文件</el-row>
                    <el-row>
                        <el-upload class="upload-demo" drag action="" ref="uploadPredModel" accept=".model"
                            :before-upload="beforeUploadModel" name="model.model" :auto-upload="false" :limit="1"
                            :on-change="handleModelChange">
                            <i class="el-icon-upload" style="font-size: 45px;">预测模型</i>
                            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                        </el-upload>
                        <el-upload class="upload-demo" drag action="" ref="uploadPredModel" accept=".model"
                            :before-upload="beforeUploadModel" name="encoder.model" :auto-upload="false" :limit="1"
                            v-if="V_downEncoder" :on-change="handleEncodeChange">
                            <i class="el-icon-upload" style="font-size: 45px;">编码模型</i>
                            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                        </el-upload>
                        <el-upload class="upload-demo" drag action="" ref="uploadPredCSV" accept=".csv"
                            :before-upload="beforeUpload" name="predict.model" :auto-upload="false" :limit="1"
                            :on-change="handlePredictChange">
                            <i class="el-icon-upload" style="font-size: 45px;">要预测数据</i>
                            <div class="el-upload__text">将文件拖到此处，或<em>点击上传</em></div>
                        </el-upload>

                    </el-row>
                    <el-row type="flex" justify="center">
                        <el-button type="primary" round v-on:click="turnToPrevStep(4)">上一步</el-button>
                        <el-button type="primary" round v-on:click="turnToNextStep(4);predict()">进行预测</el-button>
                        <el-button type="danger" round v-on:click="turnToStep0(4)">首页</el-button>
                    </el-row>
                </div>
                <!-- 4.上传预测文件end-->
                <!-- 5.预测结果及下载-->
                <div class="block" v-if="visibleStep[5].visible">
                    <el-row>5、预测结果及下载</el-row>
                    <el-row type="flex" justify="center">
                        <el-button type="primary" round v-on:click="downloadPredict">点击下载预测结果</el-button>
                        <!-- <el-button type="primary" round v-on:click="showChart">查看预测结果</el-button> -->
                    </el-row>
                    <el-row type="flex" justify="center">
                        <el-button type="primary" round v-on:click="turnToPrevStep(5)">上一步</el-button>
                        <el-button type="danger" round v-on:click="turnToStep0(5)">首页</el-button>
                    </el-row>
                </div>
                <!-- 5.预测结果及下载end-->
            </el-main>
            <el-footer style="background-color: rgba(0, 204, 255, 0.15);">
                <h3></h3>
            </el-footer>
        </el-container>
    </div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                fileList: [],
                //进行到哪一步，哪一步可见
                visibleStep: [
                    { visible: true, lable: 'step0' },
                    { visible: false, lable: 'step1' },
                    { visible: false, lable: 'step2' },
                    { visible: false, lable: 'step3' },
                    { visible: false, lable: 'step4' },
                    { visible: false, lable: 'step5' },
                ],
                //预处理算法
                padding: [
                    {
                        "value": "zero",
                        "label": "zero padding",
                        "description": "将缺省数据全部填充为0",
                        "score": 1,
                        "image": null
                    },
                    {
                        "value": "mean",
                        "label": "mean padding",
                        "description": "将缺省数据全部填充为该列剩余数据的平均值",
                        "score": 4,
                        "image": "./gif/mean.gif"
                    },
                    {
                        "value": "median",
                        "label": "median padding",
                        "description": "将缺省数据全部填充为该列剩余数据的中位数",
                        "score": 3,
                        "image": "./gif/median.gif"
                    },
                    {
                        "value": "knnc",
                        "label": "knn classifier padding",
                        "description": "使用不含缺省值的列作为输入，使用KNN算法分类预测缺省项",
                        "score": 4,
                        "image": "./gif/knn.gif"
                    },
                    {
                        "value": "knnr",
                        "label": "knn regressor padding",
                        "description": "使用不含缺省值的列作为输入，使用KNN算法回归预测缺省项",
                        "score": 4,
                        "image": "./gif/knn.gif"
                    },
                    {
                        "value": "forestc",
                        "label": "random forest classifier padding",
                        "description": "使用不含缺省值的列作为输入，使用随机森林算法分类预测缺省项",
                        "score": 5,
                        "image": "./gif/forest.gif"
                    },
                    {
                        "value": "forestr",
                        "label": "random forest regressor padding",
                        "description": "使用不含缺省值的列作为输入，使用随机森林算法回归预测缺省项",
                        "score": 5,
                        "image": "./gif/forest.gif"
                    }
                ],
                norm: [{
                    "value": "minmax",
                    "label": "minmax norm",
                    "description": "(x - min) / (max - min)",
                    "score": 4,
                    "image": "./gif/minmax.gif"
                },
                {
                    "value": "zscore",
                    "label": "z-score norm",
                    "description": "(x - mu) / sigma",
                    "score": 5,
                    "image": "./gif/zscore.gif"
                },
                {
                    "value": "sigmoid",
                    "label": "sigmoid norm",
                    "description": "1 / (1 + e^-x)",
                    "score": 3,
                    "image": "./gif/sigmoid.gif"
                },
                {
                    "value": "log",
                    "label": "log10 norm",
                    "description": "log10(x) / log10(max)",
                    "score": 2,
                    "image": null
                },
                {
                    "value": "l2",
                    "label": "l2 vector norm",
                    "description": "x / ||x||",
                    "score": 1,
                    "image": null
                }],
                sifting: [{
                    "value": "dbscan",
                    "label": "DBSCAN sifting",
                    "description": "使用DBSCAN做移动近邻检测，并将在设定的检测半径之外的数据剔除",
                    "score": 4,
                    "image": "./gif/dbscan.png"
                },
                {
                    "value": "if",
                    "label": "Isolation Forest sifting",
                    "description": "使用孤立森林算法做分割计算，剔除容易孤立出的点",
                    "score": 5,
                    "image": "./gif/if.png"
                }],
                sifting_th: 0,
                //预测时选择参与运算的列和需要预测的列
                options_col: [],
                options_pred: [],
                op_vis: false,
                pred_column_dis: true,
                sift_th_dis: true,
                //预处理文件
                preFileForm: {
                    file: null,
                    fileList: []
                },
                rules: {},
                //预处理表单
                preprocForm: {
                    data_columns: [],
                    pred_column: '',
                    padding: [],
                    norm: [],
                    dir_p_n: {},
                    sifting: {
                        method: '',
                        th: null,
                    },
                },
                //算法选择
                options_alg: [{
                    value: 'linearRegression',
                    label: 'linearRegression',
                    description: 'linearRegression算法是...(可能会有图,要预留空间,图片是测试用的)',
                    score: 5,
                    image: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                }, {
                    value: 'decisionTreeClassifier',
                    label: 'decisionTreeClassifier',
                    description: 'decisionTreeClassifier算法是...',
                    score: 4,
                    image: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                }, {
                    value: 'SVMClassifier',
                    label: 'SVMClassifier',
                    description: 'SVMClassifier算法是...',
                    score: 4,
                    image: 'https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg'
                },
                ],
                //算法参数选择
                loss: ["squared_loss", "huber", "epsilon_insensitive", "squared_epsilon_insensitive"],
                criterion: ["gini", "entropy", "log_loss"],
                kernel: ["linear", "poly", "rbf", "sigmoid", "precomputed"],
                algorithmForm: {
                    train: null,
                    test: null,
                    algorithm: '',
                    //linearRegression
                    loss: "squared_loss",
                    max_iter_li: 1000,
                    shuffle: true,
                    tol: 0.001,
                    //decisionTreeClassifier
                    criterion: "gini",
                    max_depth: 1000,
                    max_leaf_nodes: 1000,
                    //SVMClassifier
                    C: 1.0,
                    kernel: "rbf",
                    //注：svm也有tol，由于默认值相同，不保存为两个
                    max_iter_svm: -1,
                    //注：max_iter重名，表单获取完后再赋值
                    max_iter: '',
                },
                V_downEncoder: false,
                predictForm: {
                    model: '',
                    encoder: null,
                    predict: ''
                }
            };
        },
        methods: {
            handlePreSuccess() {
                this.$message.success('csv文件上传成功!');

                let reader = new FileReader();   //先new 一个读文件的对象 FileReader
                if (typeof FileReader === "undefined") {  //用来判断你的浏览器是否支持 FileReader
                    this.$message.error('浏览器不支持文件读取');
                    return;
                }
                reader.readAsText(this.preFileForm.file);
                reader.onload = (e) => {
                    let isSame = (e.target.result.split('\n')[0].replace('\r', '') === this.options_col.join(','))
                    if (!isSame) {
                        this.$message.warning("读取新数据列")
                        this.clearPreCols();
                        this.getCols(this.preFileForm.file, this.preFileForm.fileList);

                    } else {
                        this.$message.success("数据列相同，保留初始选择")
                        this.op_vis = true;
                    }
                }
            },
            preRemove() {
                this.op_vis = false;
            },
            beforeUpload(file) {
                console.log('type', file.type)
                const isCSV = (file.type === "application/vnd.ms-excel")
                    || (file.type === "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
                    || (file.type === "text/csv");
                if (!isCSV) {
                    this.$message.error('上传文件只能是 csv 格式!');
                }
                return isCSV;
            },
            beforeUploadModel(file) {
                return true;
            },
            handlePreChange(file, fileList) {
                this.preFileForm.file = file.raw;
                this.preFileForm.fileList = fileList;
                let formData = new FormData();
                formData.append('name', 'pre.csv')
                formData.append('file', file.raw);
                console.log(formData.get('file'))
                var reader = new FileReader();
                reader.readAsText(this.preFileForm.file);
                if (typeof FileReader === "undefined") {  //用来判断你的浏览器是否支持 FileReader
                    this.$message.error('浏览器不支持文件读取');
                    return;
                }
                console.log(reader);
                reader.onload = (e) => {
                    let isSame = (e.target.result.split('\n')[0].replace('\r', '') === this.options_col.join(','))
                    if (!isSame) {
                        this.$message.warning("读取新数据列")
                        this.clearPreCols();
                        this.getCols(file, fileList);
                    } else {
                        this.$message.success("数据列相同，保留初始选择")
                        console.log('options_col', this.options_col)
                    }
                }
                /* reader.onload = function (e) {
                    var content = e.target.result;
                    console.log(content);
                } */
                axios.post("/upload", formData, { headers: { 'Content-Type': 'multipart/form-data,charset=utf-8', }, }).then((res) => {
                    console.log(res);
                    this.$message.success("上传成功")


                    //先new 一个读文件的对象 FileReader

                }, (error) => {
                    this.$message.error("上传失败")
                })
            },
            //上传要预处理的文件
            /* submitPreFileForm() {

                let formData = new FormData();
                formData.append('name', 'pre.csv')
                formData.append('file', this.preFileForm.file);
                axios.post("/upload", formData, { headers: { 'Content-Type': 'multipart/form-data,charset=utf-8', }, }).then((res) => {
                    this.$message.success("上传成功")
                    this.handlePreSuccess();
                }, (error) => {
                    this.$message.error("上传失败")
                })

            },
            submitForm() {
                this.$refs.prevUpload.submit();
            }, */


            getCols(file, fileList) {
                let reader = new FileReader();   //先new 一个读文件的对象 FileReader
                if (typeof FileReader === "undefined") {  //用来判断你的浏览器是否支持 FileReader
                    this.$message.error('浏览器不支持文件读取');
                    return;
                }
                reader.readAsText(file.raw);
                reader.onload = (e) => {
                    this.options_col = e.target.result.split('\n')[0].replace('\r', '').split(',');
                    this.op_vis = true;
                    this.pred_column_dis = false;
                    for (let i = 0; i < this.options_col.length; i++) {
                        if (i < this.options_col.length - 1) {
                            this.preprocForm.data_columns.push(i);
                        } else {
                            this.preprocForm.pred_column = i;
                        }
                        this.preprocForm.dir_p_n[i] = ['zero', 'minmax'];
                    }
                }
            },
            clearPreCols() {
                this.op_vis = false;
                this.options_col = [];
                this.options_pred = [];
                this.pred_column_dis = true;
                this.sift_th_dis = true;
                this.preprocForm = {
                    data_columns: [],
                    pred_column: '',
                    padding: [],
                    norm: [],
                    dir_p_n: {},
                    sifting: {
                        method: '',
                        th: null,
                    },
                };
            },
            opChange() {
                this.preprocForm.data_columns.sort((a, b) => { return a - b });
                this.options_pred = [];
                this.preprocForm.pred_column = '';
                this.pred_column_dis = true;
                if (!(this.preprocForm.data_columns == undefined || this.preprocForm.data_columns.length <= 0)) {
                    for (let i = 0; i < this.options_col.length; i++) {
                        if (!this.preprocForm.data_columns.includes(i)) {
                            this.options_pred.push(this.options_col[i]);
                            if (this.preprocForm.dir_p_n[i][0] !== null) {
                                this.preprocForm.dir_p_n[i][0] = null;
                            }
                            if (this.preprocForm.dir_p_n[i][1] !== null) {
                                this.preprocForm.dir_p_n[i][1] = null;
                            }
                        }
                    }
                    if (this.options_pred.length <= 0) {
                        this.pred_column_dis = true;
                    } else {
                        this.pred_column_dis = false;
                    }
                }
            },
            siftChange() {
                if (this.preprocForm.sifting.method == "dbscan") {
                    this.preprocForm.sifting.th = 0.1;
                    this.sift_th_dis = true;
                } else if (this.preprocForm.sifting.method == "if") {
                    this.preprocForm.sifting.th = null;
                    this.sift_th_dis = false;
                } else {
                    this.preprocForm.sifting.th = 0.1;
                    this.sift_th_dis = true;
                }
            },
            siftthChange() {
                console.log("th", this.preprocForm.sifting.th);
            },
            uploadPreForm() {
                //todo 上传preprocForm
                this.preprocForm.sifting.th = Number(this.preprocForm.sifting.th);
                for (let i in this.preprocForm.dir_p_n) {
                    this.preprocForm.padding.push(this.preprocForm.dir_p_n[i][0])
                    this.preprocForm.norm.push(this.preprocForm.dir_p_n[i][1])
                }
                axios.post(
                    '/preproc', this.preprocForm
                ).then(
                    (res) => {
                        if (res.data.code == "400") {
                            this.$message.error(res.data.msg)
                        } else {
                            let blob = new Blob([res.data], { fileType: 'application/vnd.ms-excel' })
                            console.log(blob);
                            let href = window.URL.createObjectURL(blob)
                            fileName = "preproc.csv"
                            if (window.navigator.msSaveOrOpenBlob) {
                                console.log('1')
                                navigator.msSaveBlob(blob, fileName)
                            } else {
                                console.log('2')
                                var link = document.createElement('a')
                                link.href = window.URL.createObjectURL(blob)
                                link.download = fileName
                                link.click()
                                //释放内存
                                window.URL.revokeObjectURL(link.href)
                            }

                        }

                    }, (error) => {
                        console.log(error)
                    })
                //if success 保存csv
                //else
            },
            clearAll() {
                this.clearPreCols();
            },
            resetAlForm() {
                this.algorithmForm.loss = "squared_loss"
                this.algorithmForm.max_iter_li = 1000
                this.algorithmForm.shuffle = true
                this.algorithmForm.tol = 0.001
                this.algorithmForm.criterion = "gini"
                this.algorithmForm.max_depth = 1000
                this.algorithmForm.max_leaf_nodes = 1000
                this.algorithmForm.C = 1.0
                this.algorithmForm.kernel = "rbf"
                this.algorithmForm.max_iter_svm = -1
            },
            handleUploadTrainSuccess() {
                //todo
            },
            handleUploadTestSuccess() {
                //todo
            },
            handleUploadModelSuccess() {
                //todo
            },
            handleUploadTestSuccess() {
                //todo
            },
            turnToPrevStep(step) {
                this.visibleStep[step - 1].visible = true;
                this.visibleStep[step].visible = false;
                console.log(this.preprocForm);
                this.clearAll();
            },
            turnToNextStep(step) {
                this.visibleStep[step + 1].visible = true;
                this.visibleStep[step].visible = false;
                this.clearAll();
            },
            turnToStep0(step) {
                this.visibleStep[0].visible = true;
                this.visibleStep[step].visible = false;
                this.clearAll();
            },

            //将训练文件和测试文件存储
            handleTrainChange(file, fileList) {
                this.algorithmForm.train = file.raw;
            },
            handleTestChange(file, fileList) {
                this.algorithmForm.test = file.raw;
            },
            wait_train() {

                if (this.algorithmForm.algorithm == 'linearRegression') {
                    this.algorithmForm.max_iter = this.algorithmForm.max_iter_li;
                    this.V_downEncoder = false;
                } else if (this.algorithmForm.algorithm == 'SVMClassifier') {
                    this.algorithmForm.max_iter = this.algorithmForm.max_iter_svm;
                    this.V_downEncoder = true;
                } else {
                    this.V_downEncoder = true;
                }
                url = "/" + this.algorithmForm.algorithm;
                let formData = new FormData();
                formData.append('train', this.algorithmForm.train)
                formData.append('test', this.algorithmForm.test);
                formData.append('loss', this.algorithmForm.loss);
                formData.append('max_iter', this.algorithmForm.max_iter);
                formData.append('shuffle', this.algorithmForm.shuffle);
                formData.append('tol', this.algorithmForm.tol);
                formData.append('criterion', this.algorithmForm.criterion);
                formData.append('max_depth', this.algorithmForm.max_depth);
                formData.append('max_leaf_nodes', this.algorithmForm.max_leaf_nodes);
                formData.append('C', this.algorithmForm.C);
                formData.append('kernel', this.algorithmForm.kernel);

                axios.post(url, formData, { headers: { 'Content-Type': 'multipart/form-data,charset=utf-8', }, }).then((res) => {
                    console.log(res);
                    if (res.data.code == '200') {
                        if (this.algorithmForm.algorithm == 'linearRegression') {
                            this.$message.success(res.data.msg + "  误差:" + res.data.error)
                        } else {
                            this.$message.success(res.data.msg + "  准确率:" + res.data.accuracy)
                        }

                    } else {
                        this.$message.error(res.data.msg)
                    }

                }, (error) => {
                    this.$message.error("上传失败")
                })
            },
            downloadModel() {
                //TODO
                axios.get("getModel", { responseType: 'blob' }).then((res) => {
                    this.$message.success("开始下载")
                    console.log(res);
                    let blob = new Blob([res.data])
                    console.log(blob);
                    let href = window.URL.createObjectURL(blob)
                    fileName = "model.model"
                    if (window.navigator.msSaveOrOpenBlob) {
                        console.log('1')
                        navigator.msSaveBlob(blob, fileName)
                    } else {
                        console.log('2')
                        var link = document.createElement('a')
                        link.href = window.URL.createObjectURL(blob)
                        link.download = fileName
                        link.click()
                        //释放内存
                        window.URL.revokeObjectURL(link.href)
                    }
                }, (error) => {
                    this.$message.error("下载失败")
                })
            },
            downloadEncoder() {
                //TODO
                axios.get("/getEncoderModel", { responseType: 'blob' }).then((res) => {
                    this.$message.success("开始下载")
                    console.log(res);
                    let blob = new Blob([res.data])
                    console.log(blob);
                    let href = window.URL.createObjectURL(blob)
                    fileName = "encoder.model"
                    if (window.navigator.msSaveOrOpenBlob) {
                        // console.log(2)
                        navigator.msSaveBlob(blob, fileName)
                    } else {
                        // console.log(3)
                        var link = document.createElement('a')
                        link.href = window.URL.createObjectURL(blob)
                        link.download = fileName
                        link.click()
                        //释放内存
                        window.URL.revokeObjectURL(link.href)
                    }
                }, (error) => {
                    this.$message.error("下载失败")
                })
            },
            downloadPredict() {
                axios.post("/getResult").then((res) => {
                    this.$message.success("开始下载")
                    console.log(res);
                    let blob = new Blob([res.data], { fileType: 'application/vnd.ms-excel' })
                    console.log(blob);
                    let href = window.URL.createObjectURL(blob)
                    fileName = "result.csv"
                    if (window.navigator.msSaveOrOpenBlob) {
                        // console.log(2)
                        navigator.msSaveBlob(blob, fileName)
                    } else {
                        // console.log(3)
                        var link = document.createElement('a')
                        link.href = window.URL.createObjectURL(blob)
                        link.download = fileName
                        link.click()
                        //释放内存
                        window.URL.revokeObjectURL(link.href)
                    }
                }, (error) => {
                    this.$message.error("下载失败")
                })
            },
            handleModelChange(file) {
                this.predictForm.model = file.raw;
            },
            handleEncodeChange(file) {
                this.predictForm.encoder = file.raw;
            },
            handlePredictChange(file) {
                this.predictForm.predict = file.raw;
            },
            predict() {
                url = this.algorithmForm.algorithm + 'Predict';
                let formData = new FormData();
                formData.append('model', this.predictForm.model)
                formData.append('encoder', this.predictForm.encoder);
                formData.append('predict', this.predictForm.predict);
                axios.post(url, formData, { headers: { 'Content-Type': 'multipart/form-data,charset=utf-8', }, }).then((res) => {
                    if (res.data.code == '200') {
                        this.$message.success(res.data.msg)
                    } else {
                        this.$message.error(res.data.msg)
                    }

                }, (error) => {
                    this.$message.error("上传失败")
                })
            },
            algorithm_get() {
                //TODO
            },
            showChart() {
                //TODO
                alert('chart TODO');
            }

        },
        created() {
            //地址
            axios.defaults.baseURL = "http://127.0.0.1:12000"
            const service = axios.create({
                timeout: 5000,
            })
            /* service.interceptors.response.use(
                response => {
                    let res = response.data;

                    console.log(res)
                    if (res.code == 200 || !res.code) {
                        return response
                    } else {
                        Element.Message.error(res.msg ? res.msg : '系统异常！', { duration: 3 * 1000 })
                        return Promise.reject(response.data.msg)
                    }
                },
                error => {
                    console.log(error)
                    console.log(error.response.status)
                    if (error.response.data) {
                        error.message = error.response.data.msg
                    }
                    if (error.message) {
                        Element.Message.error(error.message, { duration: 3 * 1000 })
                    }
                    return Promise.reject(error)
                }
            ) */
        }
    });
</script>

</html>